html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.row {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row .one.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .row .one.columns:last-child {
      margin-right: 0; }
  .row .two.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .row .two.columns:last-child {
      margin-right: 0; }
  .row .three.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .row .three.columns:last-child {
      margin-right: 0; }
  .row .four.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .four.columns:last-child {
      margin-right: 0; }
  .row .five.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .row .five.columns:last-child {
      margin-right: 0; }
  .row .six.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .six.columns:last-child {
      margin-right: 0; }
  .row .seven.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .row .seven.columns:last-child {
      margin-right: 0; }
  .row .eight.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .row .eight.columns:last-child {
      margin-right: 0; }
  .row .nine.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .row .nine.columns:last-child {
      margin-right: 0; }
  .row .ten.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .row .ten.columns:last-child {
      margin-right: 0; }
  .row .eleven.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .row .eleven.columns:last-child {
      margin-right: 0; }
  .row .twelve.columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .row .twelve.columns:last-child {
      margin-right: 0; }
